<html>
    <head>

    </head>
    <body>
        <main>
            <h1>Activities</h1>
            <% activities.forEach( (activity) => { %>
                <li> <%= activity.name %> <%= activity.money %> </li>
            <% }) %>
        </main>
    </body>
</html>